/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 Oct 2015, 3:48:58 PM
    Author     : David Muchatibaya
    Title      : Fulfilment Interface style sheet
*/

#TB_ajaxContent{
    width:100% !important; 
    height:100%;
}

#TB_ajaxContent label{
    /* width: 195px !important; */
}

#TB_window{
   width:750px !important;
   font-size: 10px !important;
}

.items_to_fulfil table{
 font-size: 10px;
}

.items_to_fulfil table tr th{
 
 background-color:#CCC;
 text-align:center;
 //width:100%;
    
}

.items_to_fulfil{
            
    width: 725px;

}

.items_to_fulfil tr th{
      background-color:#CCC;
      font-size: 12px !important;
}

.items_to_fulfil tr td{
      //background-color:#CCC;
      font-size: 12px !important;
}

.fulfiled_orders  tr th{
     background-color:#CCC;
 
}

table tr th{
    
    text-align:center;
}

.main_fulfiment_table tr th{
    /* width: 60px !important; */
}


.edit_fulfilment{
    cursor:pointer;
    
}

.show_fulfilments{
    
    cursor:pointer;   
}

.isEmpty{
 display:none;
}